body {
  background-color: white;
}

h3 {
  text-transform: uppercase;
}

.header-background {
  background-color: #212447;
  margin-bottom: 2em;
}

.logo {
  padding-top: 1em;
  padding-bottom: 1em;
}

.menu-trigger {
  position: absolute;
  text-align: right;
  top: 22px;
  right: 0px;
  border: 1px solid silver;
  padding: 0.4em 0.8em 0.4em 0.8em;
  border-radius: 0.4em;
  font-size: 0.9em;
  text-decoration: none;
}

nav {
  margin-top: 2em;
  display: none;
}

nav li {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  text-align: middle;
  font-size: 1.2em;
  color: white;
  padding: 0.5em;
}

@media (min-width: 800px) {
  .menu-trigger {
    display: none;
  }

  .u-cf {
    display: inline-block;
    clear: none;
  }

  nav {
    display: block;
  }

  nav li {
    display: inline;
  }
}

.services .columns {
  text-align: center;
  padding-bottom: 2em;
}

.services img {
  border-radius: 0.2em;
}

.service-title {
  font-size: 14pt;
  margin-bottom: 0.5em;
}

.service-info {
  text-align: justify;
}

.map {
  overflow: hidden;
}

footer {
  margin-top: 3em;
  background-color: #666;
  min-height: 150px;
  padding: 1em;
  color: white;
}

footer a {
  color: white;
}

.footer-more-info {
  text-transform: uppercase;
}

.footer-copy {
  color: #ccc;
}

.button-primary {
  background-color: purple !important;
  border: none;
}
